.about {
  padding-bottom: 84px;
}

.about-container {
  padding: 134px 85px;
  border-radius: 10px;
  background-image: url(../image/about-back.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.about-heading {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
}

.about-desc {
  margin: 0;
  padding: 0;
  width: 445px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
}