.commitment {
  padding: 84px 0;
}

.commitment-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  // background-image: url(../../image/commitment-img.jpg);
  // background-repeat: no-repeat;
  // background-size: 445px 520px;
  // background-position: left 105px top 0;
}

.commitment__div {
  max-width: 445px;
  height: 520px;
  width: 100%;
  background-image: url(../image/commitment-img.jpg);
  background-repeat: no-repeat;
  background-size: 445px 520px;
}

.commitment-right {
  max-width: 540px;
  width: 100%;
  margin-left: 10px;
}

.commitment-heading {
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #333D4B;
}

.commitment-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
  mix-blend-mode: normal;
  opacity: 0.8;
}


@media only screen and (max-width: 560px) {
  .commitment {
    padding: 60px 0;
  }

  .commitment-container {
    flex-direction: column;
  }

  .commitment-right {
    margin-top: 48px;
    margin-left: 0;
    text-align: center;
  }

}