.footer {
  margin-top: 100px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 85px 47px;
  background-color: #2C343E;
}

.footer-nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-nav-item + .footer-nav-item {
  margin-left: 32px;
}

.footer-nav-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  color: #83888F;
}

.footer-nav-link:active {
  color: #FEFCF7;
}

.footer-likns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
}

.footer-link:active {
  opacity: 0.6;
}

@media only screen and (max-width: 768px) {

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 54px;
  }

  .footer-logo-link {
    margin-bottom: 32px;
  }

  .footer-nav-list {
    white-space: nowrap;
    margin-bottom: 68px;
  }

}

@media only screen and (max-width: 375px) {

  .footer-logo-link {
    margin-bottom: 48px;
  }

  .footer-nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
    margin-bottom: 48px;
  }

  .footer-nav-item + .footer-nav-item {
    margin-left: 0;
    margin-top: 24px;
  }
}