
/* ! HEADER  */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 44px 20px;
}

/* !NAV  */
.site-nav {
  &-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  &-item + &-item {
    margin-left: 32px;
  }
  
  &-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    color: #83888F;
  }
  
  &-link:active {
    color: #333D4B;
  }
}

@media only screen and (max-width: 768px) {
  .logo-link > img{
    width: 236px;
    height: 26px;
  }
  
  .site-nav {
    white-space: nowrap;
  }
}

@media only screen and (max-width: 560px) {
  .logo-link > img{
    width: 236px;
    height: 26px;
  }
  
  .site-nav {
    display: none;
  }
}

@media only screen and (max-width: 375px) {
  .header-container {
    padding-top: 32px;
    padding-bottom: 20px;
  }

  .logo-link > img{
    width: 163px;
    height: 18px;
  }

  .site-nav {
    display: none;
  }
}

