.works {
  padding-top: 88px;
  padding-bottom: 80px;
}

.works__container {
  padding: 91px 150px 107px 85px;
  background-color: #2C343E;
  border-radius: 11px;

}

.works__heading--color {
  color: #FEFCF7;
}

.works__desc--color {
  color: #FEFCF7;
}